In [29]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
import requests

In [30]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [31]:
html = requests.get(url).content

In [32]:
df_list = pd.read_html(html)

In [33]:
df = df_list[0]
print(df.head())
print("\n")
print(df.shape)
print(type(df))

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront


(180, 3)
<class 'pandas.core.frame.DataFrame'>

In [34]:
df.replace("Not assigned", np.nan, inplace = True)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [35]:
df.isnull().sum()

Postal Code      0
Borough         77
Neighborhood    77
dtype: int64

In [36]:
nan_rows = df[df['Borough'].isnull()]
nan_rows

    Postal Code Borough Neighborhood
0           M1A     NaN          NaN
1           M2A     NaN          NaN
7           M8A     NaN          NaN
10          M2B     NaN          NaN
15          M7B     NaN          NaN
16          M8B     NaN          NaN
19          M2C     NaN          NaN
24          M7C     NaN          NaN
25          M8C     NaN          NaN
28          M2E     NaN          NaN
29          M3E     NaN          NaN
33          M7E     NaN          NaN
34          M8E     NaN          NaN
35          M9E     NaN          NaN
37          M2G     NaN          NaN
38          M3G     NaN          NaN
42          M7G     NaN          NaN
43          M8G     NaN          NaN
44          M9G     NaN          NaN
51          M7H     NaN          NaN
52          M8H     NaN          NaN
53          M9H     NaN          NaN
60          M7J     NaN          NaN
61          M8J     NaN          NaN
62          M9J     NaN          NaN
69          M7K     NaN          NaN
70          M8K     NaN          NaN
71          M9K     NaN          NaN
78          M7L     NaN          NaN
79          M8L     NaN          NaN
87          M7M     NaN          NaN
88          M8M     NaN          NaN
96          M7N     NaN          NaN
97          M8N     NaN          NaN
101         M3P     NaN          NaN
105         M7P     NaN          NaN
106         M8P     NaN          NaN
110         M3R     NaN          NaN
115         M8R     NaN          NaN
118         M2S     NaN          NaN
119         M3S     NaN          NaN
123         M7S     NaN          NaN
124         M8S     NaN          NaN
125         M9S     NaN          NaN
127         M2T     NaN          NaN
128         M3T     NaN          NaN
131         M6T     NaN          NaN
132         M7T     NaN          NaN
133         M8T     NaN          NaN
134         M9T     NaN          NaN
136         M2V     NaN          NaN
137         M3V     NaN          NaN
140         M6V     NaN          NaN
141         M7V     NaN          NaN
145         M2W     NaN          NaN
146         M3W     NaN          NaN
149         M6W     NaN          NaN
150         M7W     NaN          NaN
154         M2X     NaN          NaN
155         M3X     NaN          NaN
158         M6X     NaN          NaN
159         M7X     NaN          NaN
161         M9X     NaN          NaN
162         M1Y     NaN          NaN
163         M2Y     NaN          NaN
164         M3Y     NaN          NaN
166         M5Y     NaN          NaN
167         M6Y     NaN          NaN
170         M9Y     NaN          NaN
171         M1Z     NaN          NaN
172         M2Z     NaN          NaN
173         M3Z     NaN          NaN
174         M4Z     NaN          NaN
175         M5Z     NaN          NaN
176         M6Z     NaN          NaN
177         M7Z     NaN          NaN
179         M9Z     NaN          NaN

In [37]:
nan_rows.shape

(77, 3)

In [38]:
nan_rows = df[df['Neighborhood'].isnull()]
nan_rows.shape

(77, 3)

In [39]:
df.dropna(axis=0, inplace=True)
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [40]:
print(df.shape)
print(type(df))
print("\n")
print(df.isnull().sum())

(103, 3)
<class 'pandas.core.frame.DataFrame'>


Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

In [41]:
df['Postal Code'].nunique()

103

In [ ]:
df.shape